<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="RockMusicBean" class="org.example.model.RockMusic">
    </bean>

    <bean id="ClassicalMusicBean" class="org.example.model.ClassicalMusic">
    </bean>

    <bean id="MyMusicBean" class="org.example.model.MyMusic"
    init-method="doMyInit"
    destroy-method="doMyDestroy">
    </bean>

    <bean id="ClassicalMusicWithFabricMethod" class="org.example.model.fabric_method.ClassicalMusicWithFabricMethod"
          factory-method="getClassicalMusic">
    </bean>


    <!--    <bean id="musicPlayer" class="org.example.model.MusicPlayer">-->
    <!--        <constructor-arg ref="musicBean"/>-->

    <bean id="musicPlayer" scope="prototype" class="org.example.model.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="RockMusicBean"/>
                <ref bean="ClassicalMusicBean"/>
                <ref bean="MyMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>