<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация по книге</title>
</head>
<body>
<p th:text="'ID книги: '+ ${book.getId}"></p>
<p th:text="'Название книги: '+ ${book.getTitle}"></p>
<p th:text="'Автор: '+ ${book.getAuthor}"></p>
<p th:text="'Год издания: '+ ${book.getYear_of_release}"></p>
<a th:href="@{/books/{id}/edit (id=${book.getId()})}">Изменить данные по книге</a>
<br>
<a th:href="@{/books}"> на главную страницу</a>

<div th:if="${people}">
    <p th:text="'Эта книга свободна'"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/assignOwner(id=${book.getId()})}">
        <label for="person">Выберите человека :</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text:="${person.getFull_name()}">
            </option>
        </select>
        <input type="submit" value="Назначить владельца"/>
    </form>
</div>


<div th:if="${person.getFull_name()}!=null">
    <p th:text="'Книга сейчас у: '+ ${person.getFull_name()}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/freeBook (id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>


</body>
</html>