<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация по книге</title>
</head>
<body>
<p th:text="'ID книги: '+ ${book.getId}"></p>
<p th:text="'Название книги: '+ ${book.getTitle}"></p>
<p th:text="'Автор: '+ ${book.getAuthor}"></p>
<p th:text="'Год издания: '+ ${book.getYear_of_release}"></p>

<p th:text="'Эта книга свободна'"
   th:if="${book.getOwner_id()}== null" >

<div th:if="${person.getFull_name()}!=null">
    <p th:text="'Книга сейчас у: '+ ${person.getFull_name()}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

</body>
</html>